#pokemon-img {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#pokemon-img img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

#nome-pokemon {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tipos {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#detalles-pokemon {
    display: flex;
    padding-left: 20px;
    max-width: 600px;
    overflow-wrap: break-word;
}

#caixa-destaque {
    color: rgb(4, 4, 4);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid black;
}

#caixa-destaque h3 {
    margin-top: 0;
    color: #0f0f0f;
}
#ficha{
    padding-left: 20px;
}
#ficha-img img{
    width: 50px;
    height: auto;
}
#ficha-img{
  display: flex;
  gap: 120px;                      
}

#ficha #caixa-destaque {
    width: fit-content;
}