header {
    text-align: left;
    display: flex;
    border-bottom: 1px solid #090909;
    gap: 40px;
    padding-left: 30px;
    font-family: "Press Start 2P", cursive;
    min-height: 10px;
    color:aliceblue;
    background-color: rgb(2, 2, 81);
}

.boton {
    text-align: left;
    display: flex;
    gap: 50px;
    font-family: "Press Start 2P", cursive;
    border-left: 2px solid black;
    padding-left: 20px;
    align-items: center;
    background-color: rgb(2, 2, 81);
}

.boton a{
    border-right: 2px solid black;
    color:aliceblue;
    padding-right: 40px;
    align-self: stretch;
    align-items: center;
    display: flex;
    font-family: "Press Start 2P", cursive;
}

#contenido{
    display: flex;
}

#geracao{
    font-family: "Press Start 2P", cursive;
    width: 12.7%;
    color:aliceblue;
    background-color: rgb(11, 11, 109);
}

#pokemons{
    width: 87.3%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.info-pokemon {
    display: flex;
    align-items: center;
}

.info-pokemon img{
  margin-right: 30px;
}
    
.tipos {
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

#pokemons img{
    height: auto;
    height:80px;
    padding:0px;
}

.carta-pokemon{
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0px;
}

.carta-pokemon hr {
    margin: 0;
}

body{
    margin: 0px;
    padding: 0px;
}

#geracao button{
    background-color: rgb(11, 11, 109);
    color: aliceblue;
}

.imagen-geracao img {
    width: 50px;
    height: auto;
    position: relative;
    top: 18px;
}

.info-pokemon img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin: 0;
}

.info-pokemon > h3 {
    width: 100px;
}

.info-pokemon > a {
    width: 180px;
}

.tipos {
    display: flex;
    gap: 30px;
    margin-left: 0;
}

.tipos img{
    width: 35px;
    height: 35px;
  

}

.tipo-fogo{
    background-color: rgba(230, 96, 14, 0.755);
}
.tipo-normal{
    background-color: rgba(229, 207, 193, 0.755);
}
.tipo-agua{
    background-color: rgba(29, 55, 220, 0.755);
}
.tipo-planta{
    background-color: rgba(8, 159, 0, 0.755);
}
.tipo-fogo{
    background-color: rgba(205, 51, 0, 0.755);
}
.tipo-elétrico{
    background-color: rgba(248, 236, 12, 0.755);
}
.tipo-Lutador{
    background-color: rgba(238, 37, 6, 0.755);
}
.tipo-Venenoso{
    background-color: rgba(170, 0, 255, 0.755);
}
.tipo-Terrestre{
    background-color: rgba(255, 183, 0, 0.755);
}
.tipo-Psíquico {
    background-color: rgba(252, 0, 218, 0.755);
}
.tipo-Inseto {
    background-color: rgba(26, 255, 0, 0.755);
}
.tipo-Pedra {
    background-color: rgba(139, 69, 19, 0.714);
}
.tipo-Fantasma {
    background-color: rgba(22, 54, 119, 0.755);
}
.tipo-Dragão  {
    background-color: rgba(4, 86, 240, 0.755);
}
.tipo-Sombrio  {
    background-color: rgba(9, 52, 63, 0.755);
}
.tipo-Aço   {
    background-color: rgba(46, 93, 150, 0.755);
}
.tipo-Fada   {
    background-color: rgba(214, 78, 245, 0.755);
}
.tipo-gelo{
    background-color: aqua;
}
